<template>
  <div>
    <v-autocomplete
      v-model="model"
      :items="items"
      :search-input.sync="search"
      clearable
      hide-details
      hide-selected
      item-text="name"
      item-value="symbol"
      label="Search for a region..."
      solo
      :loading="loading"
      cache-items
    >
      <template slot="no-data">
        <div class="text-xs-center">
          <span class="text-xs-center">
            <div class="text-xs-center">
              <div v-if="show">
                <p class="teal--text">
                  <v-progress-circular
                    :size="20"
                    :width="1"
                    indeterminate
                    color="teal"
                    class="mx-3"
                  />Loading Regions ...
                </p>
              </div>
              <div v-if="showBtn">
                <h4 class="teal--text mx-3">{{textMsg}}</h4>
                <v-btn color="teal" round class="white--text" @click="showModal">Add</v-btn>
              </div>
            </div>
          </span>
        </div>
      </template>
    </v-autocomplete>
    <h3 class="teal--text py-3" id="txt">{{r_name}}</h3>
    <div class="text-xs-center" id="edit" style="display:none">
      <v-btn color="teal" round class="white--text" @click="next">Next</v-btn>
    </div>
    <!--begin Modal dialog -->
    <modal v-show="isModalVisible" @close="closeModal">
      <h3 slot="header">Regions Registration</h3>
      <v-btn icon slot="header" @click="closeModal">
        <v-icon color="red">close</v-icon>
      </v-btn>
      <v-layout row justify-center slot="body">
        <v-flex xs8>
          <v-form>
            <v-text-field v-model="regionName" label="Region Name" required solo></v-text-field>
            <span class="red--text">{{regErr}}</span>
            <masked-phone @maskedPhone="save"></masked-phone>
            <span class="red--text">{{phoneErr}}</span>
            <div class="text-xs-center">
              <v-btn color="teal" round class="white--text" @click="saveRegion">Save</v-btn>
            </div>
          </v-form>
        </v-flex>
      </v-layout>
    </modal>
    <!-- end  modal dialod -->
  </div>
</template>


<script>
import Modal from "../modal/Modal";

import { autocompleteMixin } from "../../mixins/autocompleteMixin";

import MaskedPhone from "../phoneMask/PhoneMask";

export default {
  name: "app",
  mixins: [autocompleteMixin],
  components: {
    "masked-phone": MaskedPhone,
    Modal
  },
  updated() {
    if (!this.model) {
      document.getElementById("edit").style.display = "none";
    } else {
      document.getElementById("edit").style.display = "block";
    }
  }
};
</script>