<template>
  <div>
    <v-container>
      <v-layout row justify-center>
        <v-flex xs5>
          <div class="mx-3 my-5 py-3">
            <h2 class="teal--text py-3 text-xs-left">Autoselect quick add button</h2>
            <div class="my-2"></div>
            <h3 class="teal--text">Option 1</h3>
            <auto />
            <div class="my-3"></div>
            <h3 class="teal--text">Option 2</h3>
            <auto-complete />
          </div>
        </v-flex>
        <v-flex xs8>
          <div class="mx-3">
            <h2 class="teal--text py-3 text-xs-left">Customized data table</h2>
            <data-table />
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import Auto from './otherAutocomplete/AutoComplete';
import Phone from './phoneMask/PhoneMask';
import AutoComplete from './autoComplete/AutoComplete';

import DataTable from './dataTable/DataTable'

export default {
  name: 'app',
  data(){
    return{
      phone:'',
      name:'',
    }
  },
  components: {
   'auto-complete':AutoComplete,
   'data-table':DataTable,
   'auto':Auto
  }, 
  methods:{
    saveRegion(){

    }
  }
}
</script>

<style>
  
</style>
