        v-model="model"
<template>
  <div>
    <v-card>
      <v-layout row justify-center>
        <v-flex x1 v-if="loading">
          <div class="ml-3 pt-3">
            <v-progress-circular :size="15" :width="1" indeterminate color="primary"/>
          </div>
        </v-flex>
        <v-flex xs12>
          <v-autocomplete
            :items="items"
            :search-input.sync="search"
            clearable
            hide-details
            hide-selected
            item-text="name"
            item-value="symbol"
            label="Search for a region..."
            cache-items
            v-model="model"
            solo
            flat
          >
            <template slot="no-data" v-if="beforeKey">
              <p class="teal--text text-xs-center">Enter a key to search your region.</p>
            </template>
            <template slot="no-data" v-if="noData">
              <div class="text-xs-center teal--text">
                <p class="red--text mx-3">
                  {{txtMsg}}
                  <br>
                  <v-btn flat to class="teal--text"  @click="showModal">Add New</v-btn>
                </p>
              </div>
            </template>
          </v-autocomplete>
        </v-flex>
      </v-layout>
    </v-card>
    <!--begin Modal dialog -->
    <modal v-show="isModalVisible" @close="closeModal">
      <h3 slot="header">Regions Registration</h3>
      <v-btn icon slot="header" @click="closeModal">
        <v-icon color="red">close</v-icon>
      </v-btn>
      <v-layout row justify-center slot="body">
        <v-flex xs8>
          <v-form>
            <v-text-field v-model="regionName" label="Region Name" required solo></v-text-field>
            <span class="red--text">{{regErr}}</span>
            <masked-phone @maskedPhone="save"></masked-phone>
            <span class="red--text">{{phoneErr}}</span>
            <div class="text-xs-center">
              <v-btn color="teal" round class="white--text" @click="saveRegion">Save</v-btn>
            </div>
          </v-form>
        </v-flex>
      </v-layout>
    </modal>
    <!-- end  modal dialod -->
  </div>
</template>

<script>
import axios from "axios";

const url = "http://localhost:3000/api/regions";

import Modal from "../modal/Modal";

import MaskedPhone from "../phoneMask/PhoneMask";

import { otherAutocompleteMixin } from '../../mixins/otherAutocompleteMixin';
export default {
  mixins:[otherAutocompleteMixin],
  components: {
    "masked-phone": MaskedPhone,
    Modal
  },
};
</script>